/*----------------------------------------------------------------*/
/*  Print
/*----------------------------------------------------------------*/
@media all {
  /* Never show page breaks in normal view */
  .page-break-after,
  .page-break-before {
    display: none;
  }
}

@media print {
  /* html and body tweaks */
  html,
  body {
    background-color: #fff;
    height: auto !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }

  #print-foot {
    display: block;
    position: fixed;
    bottom: 0pt;
    right: 0pt;

    font-size: 200%;
  }

  #print-foot:after {
    counter-increment: page;
    content: counter(page);
  }

  /* Page breaks */
  .page-break-after {
    display: block;
    page-break-after: always;
    position: relative;
  }

  .page-break-before {
    display: block;
    page-break-before: always;
    position: relative;
  }

  /* General styles */
  #fuse-toolbar,
  #fuse-footer,
  #fuse-navbar,
  #fuse-settings,
  #fuse-layout .ps > .ps__rail-x,
  #fuse-layout .ps > .ps__rail-y {
    display: none !important;
  }

  #fuse-layout .ps {
    overflow: visible !important;
  }
}
